###> Gestionnaires
vendor
###<

###> Docker
.docker/mysql/data
###<

###> Environement
.env.local
.env.dev
###<

###> IDE
.code
.idea
###< 

###> OS
.DS_Store
###<

###> Fichiers compilés
public/assets/css/main.css
###<

###> Fichiers log
.docker/nginx/log
###<

###> PhpUnit (Test Unitaire)
.phpunit.result.cache
###<
