{% extends 'base.html.twig' %}
{% block title %}Commande{% endblock %}

{% block body %}
<main>
    <header class="page-wrapper">
        <div>
            <h1>Détails d'une commande</h1>
        </div>
    </header>
    <section class="page-wrapper">
        <div>
            <h2>Contenu de la commande</h2>
        </div>
    </section>
</main>
{% endblock %}