@use "_variables" as v

.button
  display: inline-flex
  flex-direction: row
  align-items: center
  justify-content: center
  padding: .7rem 2rem
  text-transform: none
  text-decoration: none
  font-size: 14px
  line-height: 16px
  border-radius: .25rem
  transition: all .25s ease
  border: 1px solid v.$color-blue
  font-weight: 600
  cursor: pointer

.button-primary
  background-color: v.$color-blue
  color: white

  &:hover
    background-color: transparent
    color: v.$color-blue

.button-destructive
  background-color: var(--Orange)
  color: var(--White)
  border-color: var(--Orange)

  &:hover
    background-color: var(--Pale-orange)
    color: var(--Orange)
    border-color: var(--Pale-orange)

.button-ghost
  background-color: rgba(v.$color-blue, .025)
  color: v.$color-blue
  border-color: transparent

  &:hover
    background-color: rgba(v.$color-blue, .25)