{% extends 'base.html.twig' %}
{% from 'macros/breadcrumb.html.twig' import breadcrumb %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main>
    <header class="page-wrapper">
        <div>
            <h1>Acceuil</h1>
            {{ breadcrumb('', '') }}
        </div>
    </header>
</main>
{% endblock %}