{% extends 'base.html.twig' %}
{% from 'macros/breadcrumb.html.twig' import breadcrumb %}

{% block title %}Client{% endblock %}

{% block body %}
    <main>
        <header class="page-wrapper">
            <div>
                <h1>{{ customer.name }}</h1>
                {{ breadcrumb('Clients', customer.name) }}
            </div>
        </header>
        <section class="page-wrapper">
            <div>
                <h2>Détails</h2>
            </div>
            <div>
                <p>Email : {{ customer.email }}</p>
            </div>
        </section>
        <section class="page-wrapper">
            <div>
                <h2>Commandes</h2>
            </div>
            <div>
                <p>Ce client n'a encore réalisée aucun achat.</p>
            </div>
        </section>
    </main>
{% endblock %}