{% extends 'base.html.twig' %}
{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/customer.html.twig' import customer_card %}

{% block title %}Clients{% endblock %}

{% block body %}
    <main>
        <header class="page-wrapper">
            <div>
                <h1>Clients</h1>
                {{ breadcrumb('', 'Clients') }}
            </div>
        </header>
        <section class="page-wrapper">
            <div>
                {% for customer in customers %}
                    {{ customer_card(customer) }}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}