{% macro order_card(order) %}
    <div class="order-card">
        <div>
            <p>Date {{ order.date | date('d/m/Y') }}</p>
            <p>{{ order.customer.name }}</p>
        </div>
        <div>
            <a href="/orders/details/{{ order.id }}" class="button button-ghost">Consulter</a>
        </div>
    </div>
{% endmacro %}